.App {
  text-align: center;
  background: url('https://media.stadiumtalk.com/a9/48/a9486694276944e9a02a2c24f37b4501.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10%;
}

.scoreboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 20vh;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(0,0,0,.3);
}